﻿@using AccServerAdmin.Domain
@model AccServerAdmin.Domain.DashItem


    <div class="col-md-3 mb-4">
        <div class="card h-100">
            <div class="card-header">@Model.Server.Name</div>
            <div class="card-body">

                <form method="post" >
                    <p class="card-text">
                        Track: @ListData.Tracks[Model.Server.EventCfg.Track]<br />
                        @if (Model.ProcessInfo != null)
                        {
                            <small>Started: @Model.ProcessInfo?.ProcessInfo?.StartTime;</small><br />
                            <small>PID: @Model.ProcessInfo?.ProcessInfo?.Id;</small><br />

                        }

                        <div class="form-group">

                            <a class="btn btn-primary" asp-area="Configuration" asp-page="/Servers/Edit" asp-route-Id=" @Model.Server.Id">Edit</a>

                            @if (Model.ProcessInfo == null)
                            {

                                <button type="submit" class="btn btn-success" asp-route-serverId="@Model.Server.Id" asp-page-handler="StartServer">Start</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-danger" asp-route-serverId="@Model.Server.Id" asp-page-handler="StopServer" onclick="return confirm('Are you sure you want to STOP this server?');">Stop</button>
                            }

                            @if (Model.HasImportableResults)
                            {
                                <a class="btn btn-primary" asp-area="Configuration" asp-page="/Tools/ImportResults" asp-route-Id=" @Model.Server.Id">Import Results</a>
                            }

                        </div>

                    </p>
                </form>
            </div>
        </div>
    </div>


