﻿@page
@model AccServerAdmin.Service.Pages.AcknowledgmentsModel
@{
    ViewData["Title"] = "Acknowledgments";
}


<section class="dashboard-counts section-padding">

    <div class="container-fluid">
        
        <header> 
            <h1 class="h3 display">Acknowledgments</h1>
        </header>        

        <div class="row d-flex">

            <div class="col-lg-4">
                <div class="card income text-center">
                    <div class="row d-flex align-items-center">
                        <div class="title text-center">
                            <p>Developer: Gavin Uttley</p>
                            <p>Website template Design by <a href="https://bootstrapious.com/p/bootstrap-4-dark-admin" class="external">Bootstrapious</a></p>
                            <p>Graphics: Stephen Haley, Chris Crossman</p>
                            <p>
                                Testing: The Simsport racing crew!
                                <ul>
                                    <li>Steve Proudley</li>
                                    <li>Stephen Haley</li>
                                    <li>Chris Crossman</li>
                                    <li>Chris Pinchbeck</li>
                                    <li>Arron Walker</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>