@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard - ACC Server Admin";
}

<div class="page-header">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Dashboard</h2>
    </div>
</div>

<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">

        @if (Globals.NeedsConfiguring)
        {
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h4>Configuration required</h4>
                        </div>
                        <div class="card-body">
                            <p>Before using this tool you must setup the directory configuration in the <a asp-area="Configuration" asp-page="/Settings">SETTINGS</a></p>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (!Model.DashItems.Any())
        {
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h4>No Servers Configured</h4>
                        </div>
                        <div class="card-body">
                            <p>Create a new server <a asp-area="Configuration" asp-page="/Servers/Add">HERE</a></p>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <!--
            <div class="row">
                <partial name="_DashboardToolsPartial" />
            </div>
            -->

            <div class="row">
                @foreach (var item in Model.DashItems)
                {
                    <partial name="_ServerCardPartial" model="@item" />
                }
            </div>
        }
    </div>
</section>