@page
@model AccServerAdmin.Service.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<section class="forms">
    <div class="container-fluid">
        
        <header>
            <h1 class="h3 display">Settings</h1>
        </header>

        <div class="row">
            <div class="col-lg-6">
                <div class="card">

                    <div class="card-header d-flex align-items-center">
                        <h4>Directory Settings</h4>
                    </div>
                    <div class="card-body">
                        <p></p>
                        <form>
                            <div class="form-group">
                                <label>Base Server Directory</label>
                                <input asp-for="Settings.ServerBase" placeholder="Base server directory" class="form-control">
                                <span class="text-small text-gray help-block-none">Directory of the base ACC server files, this folder is copied whenever a new instance is created.</span>
                                <span asp-validation-for="Settings.ServerBase" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group">
                                <label>Instance Base Directory</label>
                                <input asp-for="Settings.InstanceBase" placeholder="Instance base directory" class="form-control">
                                <span class="text-small text-gray help-block-none">The directory where to create new ACC server instances.</span>
                                <span asp-validation-for="Settings.InstanceBase" class="text-danger"></span>
                            </div>
                            <div class="form-group">       
                                <input type="submit" value="Save" class="btn btn-primary">
                            </div>
                        </form>
                    </div>                    

                </div>
            </div>
        </div>
    </div>
</section>