﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - ACC Server Admin</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <!-- Custom Font Icons CSS-->
    <link rel="stylesheet" href="/css/font.css">
    <!-- DataTables CSS-->
    <link rel="stylesheet" href="/vendor/datatables.net-bs4/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="/vendor/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
    <!-- Google fonts - Muli-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="/css/style.violet.premium.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="/css/custom.css">
    <!-- Favicon-->
    <link rel="shortcut icon" href="/img/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
    <script src="/vendor/signalr/dist/browser/signalr.min.js"></script>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <div class="navbar-header">
                    <!-- Navbar Header-->
                    <a asp-page="/Index" class="navbar-brand">
                        <div class="brand-text brand-big visible text-uppercase"><strong class="text-primary">ACC</strong><strong>Admin</strong></div>
                        <div class="brand-text brand-sm"><strong class="text-primary">A</strong><strong>C</strong></div>
                    </a>
                    <!-- Sidebar Toggle Btn-->
                    <button class="sidebar-toggle"><i class="fa fa-long-arrow-left"></i></button>
                </div>
                <div class="right-menu list-inline no-margin-bottom">

                    <!-- Log out -->
                    <div class="list-inline-item logout">

                        <form id="logout_form" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <a id="logout-btn" class="nav-link logout" href="javascript:;" onclick="document.getElementById('logout_form').submit();">
                                <span class="d-none d-sm-inline-block">Logout </span><i class="icon-logout"></i>
                            </a>
                        </form>

                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="d-flex align-items-stretch">
        <!-- Sidebar Navigation-->
        <nav id="sidebar">
            <!-- Sidebar Header-->
            <div class="sidebar-header d-flex align-items-center">
                <div class="avatar"><img src="/img/default_user.jpg" alt="..." class="img-fluid rounded-circle"></div>
                <div class="title">
                    <h1 class="h5">@User.Identity.Name</h1>
                    <p>Administrator</p>
                </div>
            </div>
            <!-- Sidebar Navidation Menus-->
            <span class="heading">Main</span>
            <ul class="list-unstyled">

                <li @if (Context.Request.Path.Value == "/") { @Html.Raw("class='active'") ; }><a asp-page="/Index"><i class="icon-home"></i>Dashboard</a></li>


                @if (!Globals.NeedsConfiguring)
                {
                    <li @if (Context.Request.Path.Value.Contains("Servers")) { @Html.Raw("class='active'") ; }><a asp-area="Configuration" asp-page="/Servers/List"><i class="icon-computer"></i>Servers</a></li>
                    <li @if (Context.Request.Path.Value.Contains("Drivers")) { @Html.Raw("class='active'") ; }><a asp-area="Configuration" asp-page="/Drivers/List"><i class="icon-user"></i>Drivers</a></li>
                }

                <li @if (Context.Request.Path.Value.Contains("Settings")) { @Html.Raw("class='active'") ; }><a asp-area="Configuration" asp-page="/Settings"><i class="icon-settings"></i>Settings</a></li>
                <li @if (Context.Request.Path.Value.Contains("Acknowledgments")) { @Html.Raw("class='active'") ; }><a asp-page="/Acknowledgments"><i class="icon-writing-whiteboard"></i>Acknowledgments</a></li>
            </ul>
        </nav>
        <!-- Sidebar Navigation end-->
        <div class="page-content">

            <!--<partial name="_CookieConsentPartial" />-->

            @RenderBody()

            <footer class="footer">
                <div class="footer__block block no-margin-bottom">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <p>Gavin Uttley &copy; 2019 - <a href="https://bitbucket.org/guttley/accserveradmin/src/master/">ACC Server Admin - Open Source</a></p>
                            </div>

                            <div class="col-sm-6 text-right">
                                <p>Design by <a href="https://bootstrapious.com/p/bootstrap-4-dashboard" class="external">Bootstrapious</a></p>
                                <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions and it helps me to run Bootstrapious. Thank you for understanding :)-->
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- JavaScript files-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/popper.js/umd/popper.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/js/front.js"></script>
    
    @RenderSection("Scripts", false);
</body>
</html>


