<div class="main-menu">
    <h5 class="sidenav-heading">Main</h5>
    <ul id="side-main-menu" class="side-menu list-unstyled">
        <li>
            <a asp-area="Dashboard" asp-page="/Index"><i class="icon-home"></i>Dashboard</a>
        </li>
        <li>
            <a asp-page="/Drivers"><i class="icon-home"></i>Drivers</a>
        </li>
        <li>
            <a asp-area="Configuration" asp-page="/Settings"><i class="icon-settings"></i>Settings</a>
        </li>
        <li>
            <a asp-page="/Acknowledgments"><i class="icon-form"></i>Acknowledgments</a>
        </li>
    </ul>
</div>