﻿@model AccServerAdmin.Service.Areas.Configuration.Pages.Servers.EditServerModel

<div class="form-group row">
    <label asp-for="Server.EventCfg.AmbientTemp" class="col-sm-2 form-control-label">Ambient Temp</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventCfg.AmbientTemp" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.EventCfg.CloudLevel" class="col-sm-2 form-control-label">Cloud Level</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventCfg.CloudLevel" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.EventCfg.Rain" class="col-sm-2 form-control-label">Rain</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventCfg.Rain" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.EventCfg.WeatherRandomness" class="col-sm-2 form-control-label">Weather Randomness</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventCfg.WeatherRandomness" type="text" class="form-control">
    </div>
</div>