@model AccServerAdmin.Service.Areas.Configuration.Pages.Servers.EditServerModel


<div class="form-group row">
    <label asp-for="Server.Name" class="col-sm-2 form-control-label">Server Name</label>
    <div class="col-sm-10">
        <input asp-for="Server.Name" type="text" class="form-control" />
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.GameCfg.Password" class="col-sm-2 form-control-label">Password</label>
    <div class="col-sm-10">
        <input asp-for="Server.GameCfg.Password" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.GameCfg.AdminPassword" class="col-sm-2 form-control-label">Admin Password</label>
    <div class="col-sm-10">
        <input asp-for="Server.GameCfg.AdminPassword" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.GameCfg.SpectatorPassword" class="col-sm-2 form-control-label">Spectator Password</label>
    <div class="col-sm-10">
        <input asp-for="Server.GameCfg.SpectatorPassword" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.GameCfg.MaxCarSlots" class="col-sm-2 form-control-label">Max Car Slots</label>
    <div class="col-sm-10">
        <input asp-for="Server.GameCfg.MaxCarSlots" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.GameCfg.TrackMedalsRequirement" class="col-sm-2 form-control-label">Track Medal Requirement</label>
    <div class="col-sm-10">
        <select asp-for="Server.GameCfg.TrackMedalsRequirement" asp-items="Model.TrackMedals" class="form-control">
            <option value="">-- Select a track medal requirement --</option>
        </select>
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.GameCfg.SafetyRatingRequirement" class="col-sm-2 form-control-label">Safety Medal Requirement</label>
    <div class="col-sm-10">
        <select asp-for="Server.GameCfg.SafetyRatingRequirement" asp-items="Model.SafetyRatings" class="form-control">
            <option value="">-- Select a safety requirement --</option>
        </select>
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.GameCfg.RacecraftRatingRequirement" class="col-sm-2 form-control-label">Racecraft Requirement</label>
    <div class="col-sm-10">
        <select asp-for="Server.GameCfg.RacecraftRatingRequirement" asp-items="Model.RacecraftRatings" class="form-control">
            <option value="">-- Select a racecraft requirement --</option>
        </select>
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 form-control-label">&nbsp;</label>
    <div class="col-sm-10">
        <div class="i-checks">
            <input asp-for="Server.GameCfg.ShortFormationLap" type="checkbox" class="checkbox-template">
            <label asp-for="Server.GameCfg.ShortFormationLap" class="label-material">Short Formation Lap</label>
        </div>

        <div class="i-checks">
            <input asp-for="Server.GameCfg.AllowAutoDisqualification" type="checkbox" class="checkbox-template">
            <label asp-for="Server.GameCfg.AllowAutoDisqualification" class="label-material">Allow Auto DQ</label>
        </div>

        <div class="i-checks">
            <input asp-for="Server.GameCfg.DumpLeaderboards" type="checkbox" class="checkbox-template">
            <label asp-for="Server.GameCfg.DumpLeaderboards" class="label-material">Dump Leaderboards</label>
        </div>

        <div class="i-checks">
            <input asp-for="Server.GameCfg.DumpEntryList" type="checkbox" class="checkbox-template">
            <label asp-for="Server.GameCfg.DumpEntryList" class="label-material">Dump Entry List</label>
        </div>

        <div class="i-checks">
            <input asp-for="Server.GameCfg.IsRaceLocked" type="checkbox" class="checkbox-template">
            <label asp-for="Server.GameCfg.IsRaceLocked" class="label-material">Race Locked</label>
        </div>
        
        <div class="i-checks">
            <input asp-for="Server.GameCfg.RandomizeTrackWhenEmpty" type="checkbox" class="checkbox-template">
            <label asp-for="Server.GameCfg.RandomizeTrackWhenEmpty" class="label-material">Random Track When Empty</label>
        </div>

    </div>
</div>

