@model AccServerAdmin.Service.Areas.Configuration.Pages.Servers.EditServerModel

<div class="form-group row">
    <label asp-for="Server.EventCfg.Track" class="col-sm-2 form-control-label">Track</label>
    <div class="col-sm-10">
        <select asp-for="Server.EventCfg.Track" asp-items="Model.Tracks" class="form-control">
            <option value="">-- Select a track --</option>
        </select>
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.EventCfg.EventType" class="col-sm-2 form-control-label">Event Type</label>
    <div class="col-sm-10">
        <select asp-for="Server.EventCfg.EventType" asp-items="Model.EventTypes" class="form-control">
            <option value="">-- Select an event type --</option>
        </select>
    </div>
</div>

<!--
<div class="form-group row">
    <label asp-for="Server.EventRules.QualifyType" class="col-sm-2 form-control-label">Event Type</label>
    <div class="col-sm-10">
        <select asp-for="Server.EventRules.QualifyType" asp-items="Model.QualificationTypes" class="form-control">
            <option value="">-- Select a qualification type --</option>
        </select>
    </div>
</div>
-->


<div class="form-group row">
    <label asp-for="Server.EventCfg.PreRaceWaitingTimeSeconds" class="col-sm-2 form-control-label">Pre Race Wait (Seconds)</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventCfg.PreRaceWaitingTimeSeconds" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.EventCfg.SessionOverTimeSeconds" class="col-sm-2 form-control-label">Session Over Wait (Seconds)</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventCfg.SessionOverTimeSeconds" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.EventCfg.PostQualySeconds" class="col-sm-2 form-control-label">Qually Over Wait (Seconds)</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventCfg.PostQualySeconds" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.EventCfg.PostRaceSeconds" class="col-sm-2 form-control-label">Race Over Wait (Seconds)</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventCfg.PostRaceSeconds" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.EventRules.PitWindowLength" class="col-sm-2 form-control-label">Pit Window Length (Seconds)</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventRules.PitWindowLength" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.EventRules.DriverStintTime" class="col-sm-2 form-control-label">Driver Stint Length (Seconds)</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventRules.DriverStintTime" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.EventRules.MandatoryPitstopCount" class="col-sm-2 form-control-label">Mandatory Pitstop Count</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventRules.MandatoryPitstopCount" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.EventRules.MaxTotalDrivingTime" class="col-sm-2 form-control-label">Max Total Driving Time (Seconds)</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventRules.MaxTotalDrivingTime" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.EventRules.MaxDriversCount" class="col-sm-2 form-control-label">Max Drivers Count</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventRules.MaxDriversCount" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 form-control-label">&nbsp;</label>
    <div class="col-sm-10">
        <div class="i-checks">
            <input asp-for="Server.EventRules.RefuellingAllowedInRace" type="checkbox" class="checkbox-template">
            <label asp-for="Server.EventRules.RefuellingAllowedInRace" class="label-material">Refueling Allowed In Race</label>
        </div>

        <div class="i-checks">
            <input asp-for="Server.EventRules.RefuellingTimeFixed" type="checkbox" class="checkbox-template">
            <label asp-for="Server.EventRules.RefuellingTimeFixed" class="label-material">Refueling Time Fixed</label>
        </div>

        <div class="i-checks">
            <input asp-for="Server.EventRules.MandatoryPitstopRefuellingRequired" type="checkbox" class="checkbox-template">
            <label asp-for="Server.EventRules.MandatoryPitstopRefuellingRequired" class="label-material">Mandatory Pitstop, Refueling Required</label>
        </div>

        <div class="i-checks">
            <input asp-for="Server.EventRules.MandatoryPitstopTyreChangeRequired" type="checkbox" class="checkbox-template">
            <label asp-for="Server.EventRules.MandatoryPitstopTyreChangeRequired" class="label-material">Mandatory Pitstop, Tyre Change Required</label>
        </div>

        <div class="i-checks">
            <input asp-for="Server.EventRules.MandatoryPitstopSwapDriverRequired" type="checkbox" class="checkbox-template">
            <label asp-for="Server.EventRules.MandatoryPitstopSwapDriverRequired" class="label-material">Mandatory Pitstop, Swap Driver Required</label>
        </div>

    </div>
</div>

