@model AccServerAdmin.Service.Areas.Configuration.Pages.Servers.EditServerModel

<div class="form-group row">
    <label asp-for="Server.EventConfiguration.AmbientTemp" class="col-sm-2 form-control-label">Ambient Temp</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventConfiguration.AmbientTemp" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.EventConfiguration.TrackTemp" class="col-sm-2 form-control-label">Track Temp</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventConfiguration.TrackTemp" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.EventConfiguration.CloudLevel" class="col-sm-2 form-control-label">Cloud Level</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventConfiguration.CloudLevel" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.EventConfiguration.Rain" class="col-sm-2 form-control-label">Rain</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventConfiguration.Rain" type="text" class="form-control">
    </div>
</div>

<div class="form-group row">
    <label asp-for="Server.EventConfiguration.WeatherRandomness" class="col-sm-2 form-control-label">Weather Randomness</label>
    <div class="col-sm-10">
        <input asp-for="Server.EventConfiguration.WeatherRandomness" type="text" class="form-control">
    </div>
</div>