﻿@using AccServerAdmin.Domain
@model AccServerAdmin.Service.Areas.Configuration.Pages.Servers.EditServerModel


<div cass="card-header">
    <h4><a asp-area="Configuration" asp-page="/Servers/AddEntry" asp-route-serverId="@Model.Server.Id" asp-route-entryListId="@Model.Server.EntryList.Id" >Create new Entry</a></h4>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Race Number</th>
                <th>Car Model</th>
                <th>Driver(s)</th>
                <th>Admin</th>
                <th colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model.Server.EntryList.Entries.OrderBy(e => e.RaceNumber))
            {
            <tr>
                <th scope="row">@entry.RaceNumber</th>
                <td>@entry.ForcedCarModel.GetDescription()</td>
                
                <td>
                    @foreach (var driver in entry.Drivers)
                    {
                        @driver.Fullname<br/>
                    }
                </td>
                
                <td>@entry.ServerAdmin</td>

                <td><a asp-area="Configuration" asp-page="/Servers/EditEntry" asp-route-Id="@entry.Id" asp-route-serverId="@Model.Server.Id" asp-route-entryListId="@Model.Server.EntryList.Id">Edit</a></td>
                <td><a asp-area="Configuration" asp-page="/Servers/DeleteEntry" asp-route-Id="@entry.Id" asp-route-serverId="@Model.Server.Id">Delete</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
