@page
@model AccServerAdmin.Service.Areas.Configuration.Pages.Servers.EditEntryModel
@{
    ViewData["Title"] = "Server entry";
}

<div class="page-header">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Server Entry</h2>
    </div>
</div>

<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">

                    <div class="card-header d-flex align-items-center">
                        @if (Model.Entry.Id == Guid.Empty)
                        {
                            <h4>Create New Entry</h4>
                        }
                        else
                        {
                            <h4>Edit Entry</h4>
                        }
                    </div>

                    <div class="card-body">

                        <form method="post">

                            <input asp-for="ServerId" type="hidden" />
                            <input asp-for="Entry.Id" type="hidden" />
                            <input asp-for="Entry.EntryListId" type="hidden" />

                            <div class="form-group row">
                                <label asp-for="Entry.RaceNumber" class="col-sm-2 form-control-label">Race Number</label>
                                <div class="col-sm-10">
                                    <input asp-for="Entry.RaceNumber" type="text" class="form-control">
                                    <span asp-validation-for="Entry.RaceNumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Entry.DefaultGridPosition" class="col-sm-2 form-control-label">Default Grid Position</label>
                                <div class="col-sm-10">
                                    <input asp-for="Entry.DefaultGridPosition" type="text" class="form-control">
                                    <span asp-validation-for="Entry.DefaultGridPosition" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Entry.ForcedCarModel" class="col-sm-2 form-control-label">Car Model</label>
                                <div class="col-sm-10">
                                    <select asp-for="Entry.ForcedCarModel" asp-items="Model.CarModels" class="form-control">
                                        <option value="">-- Select a Car Type --</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Entry.CustomCar" class="col-sm-2 form-control-label">Custom Car Json</label>
                                <div class="col-sm-10">
                                    <input asp-for="Entry.CustomCar" type="text" class="form-control">
                                    <span asp-validation-for="Entry.CustomCar" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-2 form-control-label">&nbsp;</label>
                                <div class="col-sm-10">
                                    <div class="i-checks">
                                        <input asp-for="Entry.ServerAdmin" type="checkbox" class="checkbox-template">
                                        <label asp-for="Entry.ServerAdmin">Server Admin</label>
                                    </div>

                                    <div class="i-checks">
                                        <input asp-for="Entry.OverrideDriverInfo" type="checkbox" class="checkbox-template">
                                        <label asp-for="Entry.OverrideDriverInfo">Override Driver Info</label>
                                    </div>

                                    <div class="i-checks">
                                        <input asp-for="Entry.OverrideCarModelForCustomCar" type="checkbox" class="checkbox-template">
                                        <label asp-for="Entry.OverrideCarModelForCustomCar">Override Car Model</label>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group row">
                                <label class="col-sm-2 form-control-label">Drivers</label>
                            
                                <div class="col-sm-10">
                                    <button type="button" data-toggle="modal" data-target="#driverSelector" class="btn btn-primary">Add Driver</button>

                                    <ul>
                                        @foreach (var driver in Model.Entry.Drivers)
                                        {
                                            <li>@driver.Fullname</li>
                                        }
                                    </ul>
                                </div>

                                <partial name="_AddEntryDriverPartial"/>

                            </div>

                            <div class="form-group-material">
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary">
                                <button type="button" onclick="window.history.go(-1); return false;" class="btn btn-primary">Cancel</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>