@page
@model AccServerAdmin.Service.Areas.Configuration.Pages.Servers.EditServerModel
@{
    ViewData["Title"] = "Edit Server";
}

<section class="forms">
    <div class="container-fluid">

        <header>
            <h1 class="h3 display"></h1>
        </header>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">

                    <div class="card-header d-flex align-items-center">
                        <h4>Edit Server - @Model.Server.Name</h4>
                    </div>

                    <div class="card-body">

                        <form method="post" class="form-horizontal">
                            <div class="form-group row">
                                <label asp-for="Server.Name" class="col-sm-2 form-control-label">Server Name</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.Name" type="text" class="form-control">
                                </div>
                            </div>

                            <!-- Game server settings -->
                            <div class="line"></div>

                            <div class="form-group row">
                                <label asp-for="Server.GameConfiguration.Password" class="col-sm-2 form-control-label">Password</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.GameConfiguration.Password" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.GameConfiguration.AdminPassword" class="col-sm-2 form-control-label">Admin Password</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.GameConfiguration.AdminPassword" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.GameConfiguration.SpectatorPassword" class="col-sm-2 form-control-label">Admin Password</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.GameConfiguration.SpectatorPassword" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.GameConfiguration.TrackMedalsRequirement" class="col-sm-2 form-control-label">Track Medal Req</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.GameConfiguration.TrackMedalsRequirement" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.GameConfiguration.SafetyRatingRequirement" class="col-sm-2 form-control-label">Safety Rating Req</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.GameConfiguration.SafetyRatingRequirement" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.GameConfiguration.RacecraftRatingRequirement" class="col-sm-2 form-control-label">Racecraft Rating Req</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.GameConfiguration.RacecraftRatingRequirement" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.GameConfiguration.SpectatorSlots" class="col-sm-2 form-control-label">Spectator Slots</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.GameConfiguration.SpectatorSlots" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.GameConfiguration.DumpLeaderboards" class="col-sm-2 form-control-label">Dump Leaderboards</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.GameConfiguration.DumpLeaderboards" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.GameConfiguration.IsRaceLocked" class="col-sm-2 form-control-label">Race Locked</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.GameConfiguration.IsRaceLocked" type="text" class="form-control">
                                </div>
                            </div>

                            <!-- Network settings -->
                            <div class="line"></div>

                            <div class="form-group row">
                                <label asp-for="Server.NetworkConfiguration.UdpPort" class="col-sm-2 form-control-label">UDP Port</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.NetworkConfiguration.UdpPort" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.NetworkConfiguration.TcpPort" class="col-sm-2 form-control-label">TCP Port</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.NetworkConfiguration.TcpPort" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.NetworkConfiguration.MaxClients" class="col-sm-2 form-control-label">Max Clients</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.NetworkConfiguration.MaxClients" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <label asp-for="Server.NetworkConfiguration.RegisterToLobby" class="label-material">Register to Lobby</label>
                                    <input asp-for="Server.NetworkConfiguration.RegisterToLobby" type="checkbox" class="col-sm-2 form-control-custom">
                                </div>
                            </div>

                            <!-- Event settings -->
                            <div class="line"></div>

                            <div class="form-group row">
                                <label asp-for="Server.EventConfiguration.Track" class="col-sm-2 form-control-label">Track</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.EventConfiguration.Track" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.EventConfiguration.EventType" class="col-sm-2 form-control-label">Event Type</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.EventConfiguration.EventType" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.EventConfiguration.PreRaceWaitingTimeSeconds" class="col-sm-2 form-control-label">Pre Race Wait (Seconds)</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.EventConfiguration.PreRaceWaitingTimeSeconds" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.EventConfiguration.SessionOverTimeSeconds" class="col-sm-2 form-control-label">Session Over Wait (Seconds)</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.EventConfiguration.SessionOverTimeSeconds" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.EventConfiguration.PostQualySeconds" class="col-sm-2 form-control-label">Qually Over Wait (Seconds)</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.EventConfiguration.PostQualySeconds" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.EventConfiguration.PostRaceSeconds" class="col-sm-2 form-control-label">Race Over Wait (Seconds)</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.EventConfiguration.PostRaceSeconds" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.EventConfiguration.AmbientTemp" class="col-sm-2 form-control-label">Ambient Temp</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.EventConfiguration.AmbientTemp" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.EventConfiguration.TrackTemp" class="col-sm-2 form-control-label">Track Temp</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.EventConfiguration.TrackTemp" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.EventConfiguration.CloudLevel" class="col-sm-2 form-control-label">Cloud Level</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.EventConfiguration.CloudLevel" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.EventConfiguration.Rain" class="col-sm-2 form-control-label">Rain</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.EventConfiguration.Rain" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label asp-for="Server.EventConfiguration.WeatherRandomness" class="col-sm-2 form-control-label">Weather Randomness</label>
                                <div class="col-sm-10">
                                    <input asp-for="Server.EventConfiguration.WeatherRandomness" type="text" class="form-control">
                                </div>
                            </div>

                            <div class="line"></div>

                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary">
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

   
event
///  "cloudLevel": 0.3,
///  "rain": 0,
///  "weatherRandomness": 1,
///  "configVersion": 1,
///  "sessions": [
///   {
///     "hourOfDay": 10,
///     "dayOfWeekend": 1,
///     "timeMultiplier": 1,
///     "sessionType": "P",
///     "sessionDurationMinutes": 20
///   },
///   {
///     "hourOfDay": 17,
///     "dayOfWeekend": 2,
///     "timeMultiplier": 8,
///     "sessionType": "Q",
///     "sessionDurationMinutes": 10
///   },
///   {
///     "hourOfDay": 16,
///     "dayOfWeekend": 3,
///     "timeMultiplier": 3,
///     "sessionType": "Q",
///     "sessionDurationMinutes": 20
///   }
///  ],
///  "postQualySeconds": 0,
///  "postRaceSeconds": 0    

    
-->