﻿@page
@model AccServerAdmin.Service.Areas.Configuration.Pages.Servers.EditServerModel
@{
    ViewData["Title"] = "Edit Server";
}

<div class="page-header">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Servers</h2>
    </div>
</div>

<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-10">

                <form method="post">

                    @Html.HiddenFor(model => model.Server.Id)
                    @Html.HiddenFor(model => model.Server.GameCfg.ServerId)
                    @Html.HiddenFor(model => model.Server.GameCfg.Id)
                    @Html.HiddenFor(model => model.Server.NetworkCfg.ServerId)
                    @Html.HiddenFor(model => model.Server.NetworkCfg.Id)
                    @Html.HiddenFor(model => model.Server.EventCfg.ServerId)
                    @Html.HiddenFor(model => model.Server.EventCfg.Id)
                    @Html.HiddenFor(model => model.Server.EventRules.ServerId)
                    @Html.HiddenFor(model => model.Server.EventRules.Id)
                    @Html.HiddenFor(model => model.Server.EntryList.ServerId)
                    @Html.HiddenFor(model => model.Server.EntryList.Id)
                    @Html.HiddenFor(model => model.Server.AssistRules.ServerId)
                    @Html.HiddenFor(model => model.Server.AssistRules.Id)

                    <div class="card">
                        <div class="card-header">
                            <ul role="tablist" class="nav nav-tabs card-header-tabs flex-column flex-sm-row">
                                <li class="nav-item flex-sm-fill">
                                    <a data-toggle="tab" role="tab" href="#nav-tab-game" aria-selected="true" class="nav-link active">Game Settings</a>
                                </li>
                                <li class="nav-item flex-sm-fill">
                                    <a data-toggle="tab" role="tab" href="#nav-tab-network" aria-selected="false" class="nav-link">Network Settings</a>
                                </li>
                                <li class="nav-item flex-sm-fill">
                                    <a data-toggle="tab" role="tab" href="#nav-tab-event" aria-selected="false" class="nav-link">Event Settings</a>
                                </li>
                                <li class="nav-item flex-sm-fill">
                                    <a data-toggle="tab" role="tab" href="#nav-tab-sessions" aria-selected="false" class="nav-link">Session Settings</a>
                                </li>
                                <li class="nav-item flex-sm-fill">
                                    <a data-toggle="tab" role="tab" href="#nav-tab-weather" aria-selected="false" class="nav-link">Weather Settings</a>
                                </li>
                                <li class="nav-item flex-sm-fill">
                                    <a data-toggle="tab" role="tab" href="#nav-tab-assists" aria-selected="false" class="nav-link">Assist Settings</a>
                                </li>
                                <li class="nav-item flex-sm-fill">
                                    <a data-toggle="tab" role="tab" href="#nav-tab-entries" aria-selected="false" class="nav-link">Entry List</a>
                                </li>
                                <li class="nav-item flex-sm-fill">
                                    <a data-toggle="tab" role="tab" href="#nav-tab-bop" aria-selected="false" class="nav-link">BoP</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body tab-content">

                            <div id="nav-tab-game" role="tabpanel" aria-labelledby="game-tab" class="tab-pane fade px-4 py-5 show active">
                                <!-- Game server settings -->
                                <partial name="_EditGamePartial" />
                            </div>
                            <div id="nav-tab-network" role="tabpanel" aria-labelledby="network-tab" class="tab-pane fade px-4 py-5">
                                <!-- Network settings -->
                                <partial name="_EditNetworkPartial" />
                            </div>
                            <div id="nav-tab-event" role="tabpanel" aria-labelledby="event-tab" class="tab-pane fade px-4 py-5">
                                <!-- Event settings -->
                                <partial name="_EditEventPartial" />
                            </div>
                            <div id="nav-tab-sessions" role="tabpanel" aria-labelledby="sessions-tab" class="tab-pane fade px-4 py-5">
                                <!-- Sessions settings -->
                                <partial name="_ListSessionsPartial" />
                            </div>
                            <div id="nav-tab-weather" role="tabpanel" aria-labelledby="weather-tab" class="tab-pane fade px-4 py-5">
                                <!-- Weather settings -->
                                <partial name="_EditWeatherPartial" />
                            </div>
                            <div id="nav-tab-assists" role="tabpanel" aria-labelledby="weather-assists" class="tab-pane fade px-4 py-5">
                                <!-- Assist settings -->
                                <partial name="_EditAssistsPartial" />
                            </div>
                            <div id="nav-tab-entries" role="tabpanel" aria-labelledby="entries-tab" class="tab-pane fade px-4 py-5">
                                <!-- Entry list -->
                                <partial name="_ListEntriesPartial" />

                                <label class="col-sm-2 form-control-label">&nbsp;</label>
                                <div class="col-sm-10">
                                    <div class="i-checks">
                                        <input asp-for="Server.EntryList.ForceEntryList" type="checkbox" class="checkbox-template">
                                        <label asp-for="Server.EntryList.ForceEntryList" class="label-material">Force Entry List</label>
                                    </div>
                                </div>
                            </div>
                            <div id="nav-tab-bop" role="tabpanel" aria-labelledby="bop-tab" class="tab-pane fade px-4 py-5">
                                <!-- Balance of Performance -->
                                <partial name="_ListBopPartial" />
                            </div>

                            <div class="form-group-material">
                                <div asp-validation-summary="All" class="text-danger"></div>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-primary">
                                <button type="button" onclick="window.history.go(-1);return false;" class="btn btn-primary">Cancel</button>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>