@page
@model AccServerAdmin.Service.Areas.Configuration.Pages.Servers.ServerListModel

@{
    ViewData["Title"] = "Server list";
}


<div class="page-header">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Servers</h2>
    </div>
</div>

<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Server List - <a asp-area="Configuration" asp-page="/Servers/Add" asp>Create new server</a></h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Server Name</th>
                                        <th>ID</th>
                                        <th colspan="2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var server in Model.Servers)
                                    {

                                        <tr>
                                            <th scope="row">@server.Name</th>
                                            <td>@server.Id</td>
                                            <td><a asp-area="Configuration" asp-page="/Servers/Edit" asp-route-Id="@server.Id">Edit</a></td>
                                            <td><a asp-area="Configuration" asp-page="/Servers/Delete" asp-route-Id="@server.Id">Delete</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
