﻿@page
@model AccServerAdmin.Service.Areas.Configuration.Pages.Servers.ServerListModel

@{
    ViewData["Title"] = "Server list";
}

@section Scripts
{
    <script src="@Url.Content("/vendor/datatables.net/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("/vendor/datatables.net-bs4/js/dataTables.bootstrap4.js")"></script>
    <script src="@Url.Content("/vendor/datatables.net-responsive/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("/vendor/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("/js/serverlist-datatable.js")"></script>
}

<div class="page-header">
    <div class="container-fluid">
        <h2 class="h5 no-margin-bottom">Servers - <a asp-area="Configuration" asp-page="/Servers/Add" asp>Create new server</a></h2>
    </div>
</div>

<section class="no-padding-top no-padding-bottom">
    <div class="container-fluid">
        <div class="block">
            <div class="block-body">
                <div class="row">
                    <div class="table-responsive">
                        <table id="serverTable" class="table table-striped table-sm" style="width: 100%;">
                            <thead>
                            <tr>
                                <th>Server Name</th>
                                <th>ID</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var server in Model.Servers)
                            {

                                <tr>
                                    <th scope="row">@server.Name</th>
                                    <td>@server.Id</td>
                                    <td>
                                        <a asp-area="Configuration" asp-page="/Servers/Edit" asp-route-Id="@server.Id">Edit</a>
                                        &nbsp;
                                        <a asp-area="Configuration" asp-page="/Servers/Delete" asp-route-Id="@server.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</section>