@page
@using AccServerAdmin.Domain
@model IndexModel
@{
    ViewData["Title"] = "Results Home";
}

<div class="page-header">
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-lg-10 d-flex align-items-start">
                <div class="d-block">
                    <h2 class="h5 no-margin-bottom">Results Home</h2>
                </div>
            </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-lg-2 d-flex align-items-end">
                <button class="btn btn-primary" onclick="window.location.href='/'" >Back to Admin</button>
            </div>
        }
         </div>

    </div>
</div>

<section class="no-padding-top no-padding-bottom">
    <div class="container">

        <div class="row">


            <div class="col-lg-4">
                <div class="user-block block text-center">

                    <button class="btn btn-primary" onclick="window.location.href = '/Results/TrackSelection'">Results by Track</button>


                </div>
            </div>

            <div class="col-lg-4">

            </div>

            <div class="col-lg-4">
                <div class="user-block block text-center">

                    <button class="btn btn-primary" onclick="window.location.href = '/Results/Sessions'">Results by Session</button>

                </div>
            </div>

        </div>

    </div>
</section>
