@model AccServerAdmin.Domain.Server

<div class="col-lg-4">
    <div class="card data-usage">
        <h2 class="display h4">@Model.Name</h2>
        <div class="row d-flex align-items-center">
            <div class="col-sm-6">
                <strong class="text-primary">@Model.EventConfiguration.Track</strong>
            </div>
            <div class="col-sm-6">
                <strong class="text-primary">80.56 Gb</strong>
                <small>Current Plan</small>
                <span>100 Gb Monthly</span>
                <button type="button"  class="btn btn-primary">Start</button>
            </div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
    </div>
</div>