@page
@using AccServerAdmin.Service
@model AccServerAdmin.Service.Areas.Dashboard.Pages.DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<section class="statistics">
    <div class="container-fluid">

        <header>
            <h1 class="h3 display">Dashboard </h1>
        </header>
        
        <div class="row d-flex">

            @if (Globals.NeedsConfiguring)
            {
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h4>Configuration required</h4>
                        </div>
                        <div class="card-body">
                            <p>Before using this tool you must setup the directory configuration in the <a asp-area="Configuration" asp-page="/Settings">SETTINGS</a></p>
                        </div>
                    </div>
                </div>
            } 
            else if (!Model.DashItems.Any())
            {
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h4>No Servers Configured</h4>
                        </div>
                        <div class="card-body">
                            <p>Create a new server <a asp-area="Configuration" asp-page="/Servers/Add">HERE</a></p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                @foreach (var item in Model.DashItems)
                {
                    <partial name="_ServerCardPartial" model="@item" />
                }


            }


        </div>
    </div>
</section>